* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.2px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
